.menu {
  background-color: #9e9e9e; }
  .menu__topnav {
    overflow: hidden;
    margin: 0 auto;
    width: 35%; }
    .menu__topnav a {
      float: left;
      color: #333333;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 14px;
      font-weight: 500; }
    .menu__topnav a:hover {
      background-color: #757575;
      color: #fff; }
    .menu__topnav a.active {
      background-color: #9e9e9e;
      color: white; }

.products__container {
  padding: 0 !important; }
  .products__container .md-cell--3 {
    margin: 0 8px 0 0 !important; }
    .products__container .md-cell--3 .list {
      width: 100%; }
      .products__container .md-cell--3 .list__container-filters {
        width: 100%; }
      .products__container .md-cell--3 .list__container--link {
        text-decoration: none; }
  .products__container .card__product {
    margin: 12px 12px 12px 0; }
    .products__container .card__product-title {
      padding-bottom: 0; }
