.list__filters {
  width: 100%; }

.topnav {
  background-color: #9e9e9e;
  overflow: hidden; }
  .topnav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; }
  .topnav a:hover {
    background-color: #757575;
    color: #fff; }
  .topnav a.active {
    background-color: #9e9e9e;
    color: white; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px; }
  .App-header h2 {
    color: #fff; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
